<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kang's blog</title>
</head>
<style>
    .header{
        text-align : center;

        margin: 0 auto;

    }
    .header a{
        color: red;
        text-decoration:none;
    }
    .posts{
        border: 1px solid gray;
    }

</style>
<body>
<div class = "header">
    <h1><a href="">Django Girls Blog</a></h1>

</div>
{% for post in posts %}
    <div class = "posts">
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}

</body>
</html>